components/RM/latest/documents/Extract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://schemas.openehr.org/v2" targetNamespace="http://schemas.openehr.org/v2" elementFormDefault="qualified"
           id="Extract.xsd" version="v1.0.4">
    <!-- dependencies -->
    <xs:include schemaLocation="../EhrExtract.xsd"/>
	<xs:element name="extract_request" type="EXTRACT_REQUEST"/>
	<xs:element name="extract" type="EXTRACT"/>
  <xs:element name="versioned_object" type="X_VERSIONED_OBJECT"/>
</xs:schema>
