components/AM/latest/archie.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Definition of the openEHR AM related class generated from archie -->
<!-- 2021.02.24 - initial export, Authored by Pieter Bos (Nedap) -->
<!-- Status: Draft -->
<!-- todo: match these and mix it with the other AM/latest schema -->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="archetype" nillable="true" type="xs:anyType"/>

  <xs:complexType name="C_ORDERED" abstract="true">
    <xs:complexContent>
      <xs:extension base="C_PRIMITIVE_OBJECT">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_PRIMITIVE_OBJECT" abstract="true">
    <xs:complexContent>
      <xs:extension base="C_DEFINED_OBJECT">
        <xs:sequence>
          <xs:element name="enumerated_type_constraint" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_DEFINED_OBJECT" abstract="true">
    <xs:complexContent>
      <xs:extension base="C_OBJECT">
        <xs:sequence>
          <xs:element name="default_value" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_OBJECT" abstract="true">
    <xs:complexContent>
      <xs:extension base="ARCHETYPE_CONSTRAINT">
        <xs:sequence>
          <xs:element name="occurrences" type="MULTIPLICITY_INTERVAL" minOccurs="0"/>
          <xs:element name="sibling_order" type="SIBLING_ORDER" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="rm_type_name" type="xs:string"/>
        <xs:attribute name="node_id" type="xs:string"/>
        <xs:attribute name="is_deprecated" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE_CONSTRAINT" abstract="true">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="archetypeModelObject" abstract="true">
    <xs:complexContent>
      <xs:extension base="openEHRBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="openEHRBase">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="MULTIPLICITY_INTERVAL">
    <xs:complexContent>
      <xs:extension base="INTERVAL">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="INTERVAL">
    <xs:complexContent>
      <xs:extension base="openEHRBase">
        <xs:sequence>
          <xs:element name="lower" type="xs:anyType" minOccurs="0"/>
          <xs:element name="upper" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="lower_unbounded" type="xs:boolean" use="required"/>
        <xs:attribute name="upper_unbounded" type="xs:boolean" use="required"/>
        <xs:attribute name="lower_included" type="xs:boolean" use="required"/>
        <xs:attribute name="upper_included" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SIBLING_ORDER">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="before" type="xs:boolean"/>
          <xs:element name="siblingNodeId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_SECOND_ORDER">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="members" type="ARCHETYPE_CONSTRAINT" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_ATTRIBUTE_TUPLE">
    <xs:complexContent>
      <xs:extension base="C_SECOND_ORDER">
        <xs:sequence>
          <xs:element name="tuples" type="C_PRIMITIVE_TUPLE" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_PRIMITIVE_TUPLE">
    <xs:complexContent>
      <xs:extension base="C_SECOND_ORDER">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OPERATIONAL_TEMPLATE">
    <xs:complexContent>
      <xs:extension base="AUTHORED_ARCHETYPE">
        <xs:sequence>
          <xs:element name="terminology_extracts" type="IncludedTerminology" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="component_terminologies" type="IncludedTerminology" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AUTHORED_ARCHETYPE">
    <xs:complexContent>
      <xs:extension base="ARCHETYPE">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE">
    <xs:complexContent>
      <xs:extension base="AUTHORED_RESOURCE">
        <xs:sequence>
          <xs:element name="archetype_id" type="ARCHETYPE_HRID" minOccurs="0"/>
          <xs:element name="parent_archetype_id" type="xs:string" minOccurs="0"/>
          <xs:element name="definition" type="C_COMPLEX_OBJECT" minOccurs="0"/>
          <xs:element name="terminology" type="ARCHETYPE_TERMINOLOGY" minOccurs="0"/>
          <xs:element name="rules" type="rulesSection" minOccurs="0"/>
          <xs:element name="build_uid" type="xs:string" minOccurs="0"/>
          <xs:element name="other_meta_data" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="rm_release" type="xs:string"/>
        <xs:attribute name="is_generated" type="xs:boolean"/>
        <xs:attribute name="is_differential" type="xs:boolean" use="required"/>
        <xs:attribute name="adl_version" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AUTHORED_RESOURCE" abstract="true">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="annotations" type="RESOURCE_ANNOTATION" minOccurs="0"/>
          <xs:element name="is_controlled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="description" type="RESOURCE_DESCRIPTION" minOccurs="0"/>
          <xs:element name="original_language" type="TERMINOLOGY_CODE" minOccurs="0"/>
          <xs:element name="translations" type="TRANSLATION_DETAILS" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="uid" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IncludedTerminology">
    <xs:complexContent>
      <xs:extension base="ARCHETYPE_TERMINOLOGY_TEST">
        <xs:sequence>
          <xs:element name="key" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE_TERMINOLOGY_TEST">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="differential" type="xs:boolean" minOccurs="0"/>
          <xs:element name="original_language" type="xs:string" minOccurs="0"/>
          <xs:element name="concept_code" type="xs:string" minOccurs="0"/>
          <xs:element name="valueSets">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="VALUE_SET"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VALUE_SET">
    <xs:complexContent>
      <xs:extension base="TERMINOLOGY_RELATION">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TERMINOLOGY_RELATION">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE_HRID">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="namespace" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="concept_id" type="xs:string"/>
        <xs:attribute name="rm_publisher" type="xs:string"/>
        <xs:attribute name="rm_package" type="xs:string"/>
        <xs:attribute name="rm_class" type="xs:string"/>
        <xs:attribute name="release_version" type="xs:string"/>
        <xs:attribute name="version_status" type="versionStatus"/>
        <xs:attribute name="build_count" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_COMPLEX_OBJECT">
    <xs:complexContent>
      <xs:extension base="C_DEFINED_OBJECT">
        <xs:sequence>
          <xs:element name="attributes" type="C_ATTRIBUTE" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="attributeTuples" type="C_ATTRIBUTE_TUPLE" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_ATTRIBUTE">
    <xs:complexContent>
      <xs:extension base="ARCHETYPE_CONSTRAINT">
        <xs:sequence>
          <xs:element name="existence" type="MULTIPLICITY_INTERVAL" minOccurs="0"/>
          <xs:element name="differential_path" type="xs:string" minOccurs="0"/>
          <xs:element name="is_multiple" type="xs:boolean"/>
          <xs:element name="cardinality" type="CARDINALITY" minOccurs="0"/>
          <xs:element name="children" type="C_OBJECT" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="rm_attribute_name" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CARDINALITY">
    <xs:complexContent>
      <xs:extension base="openEHRBase">
        <xs:sequence>
          <xs:element name="is_ordered" type="xs:boolean"/>
          <xs:element name="is_unique" type="xs:boolean"/>
          <xs:element name="interval" type="MULTIPLICITY_INTERVAL" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE_TERMINOLOGY">
    <xs:sequence>
      <xs:element name="concept_code" type="xs:string" minOccurs="0"/>
      <xs:element name="term_definitions" type="CodeDefinitionSet" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="term_bindings" type="TermBindingSet" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="terminology_extracts" type="CodeDefinitionSet" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="value_sets" type="VALUE_SET" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="is_differential" type="xs:boolean"/>
    <xs:attribute name="original_language" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="CodeDefinitionSet">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="items" type="ARCHETYPE_TERM" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="language" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE_TERM">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="text" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TermBindingSet">
    <xs:sequence>
      <xs:element name="items" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="StringDictionaryItem">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="rulesSection">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="content" type="xs:string" minOccurs="0"/>
          <xs:element name="rules" type="ruleStatement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ruleStatement">
    <xs:complexContent>
      <xs:extension base="ruleElement">
        <xs:sequence>
          <xs:element name="ruleContent" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ruleElement">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence>
          <xs:element name="type" type="expressionType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RESOURCE_ANNOTATION">
    <xs:complexContent>
      <xs:extension base="archetypeModelObject">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RESOURCE_DESCRIPTION">
    <xs:sequence>
      <xs:element name="original_author" type="StringDictionaryItem" maxOccurs="unbounded"/>
      <xs:element name="original_namespace" type="xs:string" minOccurs="0"/>
      <xs:element name="original_publisher" type="xs:string" minOccurs="0"/>
      <xs:element name="other_contributors" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="lifecycle_state" type="TERMINOLOGY_CODE"/>
      <xs:element name="custodian_namespace" type="xs:string" minOccurs="0"/>
      <xs:element name="custodian_organisation" type="xs:string" minOccurs="0"/>
      <xs:element name="copyright" type="xs:string" minOccurs="0"/>
      <xs:element name="licence" type="xs:string" minOccurs="0"/>
      <xs:element name="ip_acknowledgements" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="references" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="resource_package_uri" type="xs:string" minOccurs="0"/>
      <xs:element name="conversion_details" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="other_details" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="details" type="RESOURCE_DESCRIPTION_ITEM" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TERMINOLOGY_CODE">
    <xs:complexContent>
      <xs:extension base="openEHRBase">
        <xs:sequence>
          <xs:element name="terminology_id" type="xs:string" minOccurs="0"/>
          <xs:element name="terminology_version" type="xs:string" minOccurs="0"/>
          <xs:element name="code_string" type="xs:string" minOccurs="0"/>
          <xs:element name="uri" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RESOURCE_DESCRIPTION_ITEM">
    <xs:sequence>
      <xs:element name="language" type="TERMINOLOGY_CODE"/>
      <xs:element name="purpose" type="xs:string"/>
      <xs:element name="keywords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="use" type="xs:string" minOccurs="0"/>
      <xs:element name="misuse" type="xs:string" minOccurs="0"/>
      <xs:element name="original_resource_uri" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="other_details" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TRANSLATION_DETAILS">
    <xs:sequence>
      <xs:element name="language" type="TERMINOLOGY_CODE"/>
      <xs:element name="author" type="StringDictionaryItem" maxOccurs="unbounded"/>
      <xs:element name="accreditation" type="xs:string" minOccurs="0"/>
      <xs:element name="other_details" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="version_last_translated" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="C_DATE">
    <xs:complexContent>
      <xs:extension base="C_TEMPORAL">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
          <xs:element name="constraint" type="INTERVAL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_TEMPORAL" abstract="true">
    <xs:complexContent>
      <xs:extension base="C_ORDERED">
        <xs:sequence>
          <xs:element name="patternedConstraint" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="assertion" final="extension restriction">
    <xs:complexContent>
      <xs:extension base="ruleStatement">
        <xs:sequence>
          <xs:element name="expression" type="expression" minOccurs="0"/>
          <xs:element name="stringExpression" type="xs:string" minOccurs="0"/>
          <xs:element name="tag" type="xs:string" minOccurs="0"/>
          <xs:element name="variables" type="variableDeclaration" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="expression">
    <xs:complexContent>
      <xs:extension base="ruleElement">
        <xs:sequence>
          <xs:element name="precedenceOverridden" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="variableDeclaration">
    <xs:complexContent>
      <xs:extension base="ruleStatement">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_BOOLEAN">
    <xs:complexContent>
      <xs:extension base="C_PRIMITIVE_OBJECT">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:boolean" minOccurs="0"/>
          <xs:element name="constraint" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_COMPLEX_OBJECT_PROXY">
    <xs:complexContent>
      <xs:extension base="C_OBJECT">
        <xs:sequence>
          <xs:element name="target_path" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_TERMINOLOGY_CODE">
    <xs:complexContent>
      <xs:extension base="C_PRIMITIVE_OBJECT">
        <xs:sequence>
          <xs:element name="assumed_value" type="TERMINOLOGY_CODE" minOccurs="0"/>
          <xs:element name="constraint" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_DURATION">
    <xs:complexContent>
      <xs:extension base="C_TEMPORAL">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
          <xs:element name="constraint" type="INTERVAL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TEMPLATE">
    <xs:complexContent>
      <xs:extension base="AUTHORED_ARCHETYPE">
        <xs:sequence>
          <xs:element name="templateOverlays" type="TEMPLATE_OVERLAY" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TEMPLATE_OVERLAY">
    <xs:complexContent>
      <xs:extension base="ARCHETYPE">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ARCHETYPE_SLOT">
    <xs:complexContent>
      <xs:extension base="C_OBJECT">
        <xs:sequence>
          <xs:element name="includes" type="assertion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="excludes" type="assertion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="is_closed" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="function">
    <xs:complexContent>
      <xs:extension base="expression">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_REAL">
    <xs:complexContent>
      <xs:extension base="C_ORDERED">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:double" minOccurs="0"/>
          <xs:element name="constraint" type="INTERVAL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="variableReference">
    <xs:complexContent>
      <xs:extension base="leaf">
        <xs:sequence>
          <xs:element name="declaration" type="variableDeclaration" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="leaf">
    <xs:complexContent>
      <xs:extension base="expression">
        <xs:sequence>
          <xs:element name="referenceType" type="referenceType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="builtinVariable">
    <xs:complexContent>
      <xs:extension base="variableDeclaration">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_ARCHETYPE_ROOT">
    <xs:complexContent>
      <xs:extension base="C_COMPLEX_OBJECT">
        <xs:sequence>
          <xs:element name="archetype_ref" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_STRING">
    <xs:complexContent>
      <xs:extension base="C_PRIMITIVE_OBJECT">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
          <xs:element name="constraint" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="constraint">
    <xs:complexContent>
      <xs:extension base="leaf">
        <xs:sequence>
          <xs:element name="item" type="C_PRIMITIVE_OBJECT" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="modelReference">
    <xs:complexContent>
      <xs:extension base="leaf">
        <xs:sequence>
          <xs:element name="path" type="xs:string" minOccurs="0"/>
          <xs:element name="variableReferencePrefix" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="expressionVariable">
    <xs:complexContent>
      <xs:extension base="variableDeclaration">
        <xs:sequence>
          <xs:element name="expression" type="expression" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="queryVariable">
    <xs:complexContent>
      <xs:extension base="variableDeclaration">
        <xs:sequence>
          <xs:element name="context" type="xs:string" minOccurs="0"/>
          <xs:element name="queryArgs" type="xs:string" minOccurs="0"/>
          <xs:element name="queryId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_INTEGER">
    <xs:complexContent>
      <xs:extension base="C_ORDERED">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:long" minOccurs="0"/>
          <xs:element name="constraint" type="INTERVAL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_DATE_TIME">
    <xs:complexContent>
      <xs:extension base="C_TEMPORAL">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
          <xs:element name="constraint" type="INTERVAL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="constant">
    <xs:complexContent>
      <xs:extension base="leaf">
        <xs:sequence>
          <xs:element name="value" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="operator">
    <xs:complexContent>
      <xs:extension base="expression">
        <xs:sequence>
          <xs:element name="operands" type="expression" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="operator" type="operatorKind" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="binaryOperator">
    <xs:complexContent>
      <xs:extension base="operator">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="forAllStatement">
    <xs:complexContent>
      <xs:extension base="operator">
        <xs:sequence>
          <xs:element name="variableName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="unaryOperator">
    <xs:complexContent>
      <xs:extension base="operator">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="archetypeIdConstraint">
    <xs:complexContent>
      <xs:extension base="constraint">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="C_TIME">
    <xs:complexContent>
      <xs:extension base="C_TEMPORAL">
        <xs:sequence>
          <xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
          <xs:element name="constraint" type="INTERVAL" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="INCLUDED_TERMINOLOGY">
    <xs:complexContent>
      <xs:extension base="ARCHETYPE_TERMINOLOGY">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="versionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALPHA"/>
      <xs:enumeration value="BETA"/>
      <xs:enumeration value="RELEASE_CANDIDATE"/>
      <xs:enumeration value="RELEASED"/>
      <xs:enumeration value="BUILD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="expressionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="REAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="referenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Constant"/>
      <xs:enumeration value="Attribute"/>
      <xs:enumeration value="Function"/>
      <xs:enumeration value="Constraint"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operatorKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eq"/>
      <xs:enumeration value="ne"/>
      <xs:enumeration value="le"/>
      <xs:enumeration value="lt"/>
      <xs:enumeration value="ge"/>
      <xs:enumeration value="gt"/>
      <xs:enumeration value="matches"/>
      <xs:enumeration value="not"/>
      <xs:enumeration value="and"/>
      <xs:enumeration value="or"/>
      <xs:enumeration value="xor"/>
      <xs:enumeration value="implies"/>
      <xs:enumeration value="for_all"/>
      <xs:enumeration value="exists"/>
      <xs:enumeration value="plus"/>
      <xs:enumeration value="minus"/>
      <xs:enumeration value="multiply"/>
      <xs:enumeration value="divide"/>
      <xs:enumeration value="modulo"/>
      <xs:enumeration value="exponent"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

