RM/latest/Extract.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- openEHR Release 1.0.2 Extract  XML schema -->
<!-- Authored by Ocean Informatics 2008.12.22  -->
<xs:schema xmlns="http://schemas.openehr.org/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.openehr.org/v1" elementFormDefault="qualified" version="v1.0.2" id="Extract.xsd">
	<xs:include schemaLocation="types/Extract.xsd"/>
	<xs:element name="extract_request" type="EXTRACT_REQUEST"/>
	<xs:element name="extract" type="EXTRACT"/>
  <xs:element name="versioned_object" type="X_VERSIONED_OBJECT"/>
</xs:schema>
