components/RM/latest/DataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://schemas.openehr.org/v2" targetNamespace="http://schemas.openehr.org/v2" elementFormDefault="qualified"
		   id="DataTypes.xsd" version="v1.0.4">
	<!-- dependencies -->
	<xs:include schemaLocation="../../BASE/latest/BaseTypes.xsd"/>
	<xs:complexType name="DATA_VALUE" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DV_BOOLEAN">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="value" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_IDENTIFIER">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="issuer" type="xs:string" minOccurs="0"/>
					<xs:element name="assigner" type="xs:string" minOccurs="0"/>
					<xs:element name="id" type="NonEmptyString"/>
					<xs:element name="type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_STATE">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="value" type="DV_CODED_TEXT"/>
					<xs:element name="is_terminal" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_ORDERED" abstract="true">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="normal_range" type="DV_INTERVAL" minOccurs="0"/>
					<xs:element name="other_reference_ranges" type="REFERENCE_RANGE" minOccurs="0"
						maxOccurs="unbounded"/>
					<xs:element name="normal_status" type="CODE_PHRASE" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_INTERVAL">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="lower" type="DV_ORDERED" minOccurs="0"/>
					<xs:element name="upper" type="DV_ORDERED" minOccurs="0"/>
					<xs:element name="lower_included" type="xs:boolean" minOccurs="0"/>
					<xs:element name="upper_included" type="xs:boolean" minOccurs="0"/>
					<xs:element name="lower_unbounded" type="xs:boolean"/>
					<xs:element name="upper_unbounded" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="REFERENCE_RANGE">
		<xs:sequence>
			<xs:element name="meaning" type="DV_TEXT"/>
			<xs:element name="range" type="DV_INTERVAL"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DV_QUANTIFIED" abstract="true">
		<xs:complexContent>
			<xs:extension base="DV_ORDERED">
				<xs:sequence>
					<xs:element name="magnitude_status" type="magnitudeStatus" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_COUNT">
		<xs:complexContent>
			<xs:extension base="DV_AMOUNT">
				<xs:sequence>
					<xs:element name="magnitude" type="xs:long"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_AMOUNT" abstract="true">
		<xs:complexContent>
			<xs:extension base="DV_QUANTIFIED">
				<xs:sequence>
					<xs:element name="accuracy" type="xs:float" minOccurs="0" default="-1.0"/>
					<xs:element name="accuracy_is_percent" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_ABSOLUTE_QUANTITY" abstract="true">
		<xs:complexContent>
			<xs:extension base="DV_QUANTIFIED"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_TEMPORAL" abstract="true">
		<xs:complexContent>
			<xs:extension base="DV_ABSOLUTE_QUANTITY">
				<xs:sequence>
					<xs:element name="accuracy" type="DV_DURATION" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_QUANTITY">
		<xs:complexContent>
			<xs:extension base="DV_AMOUNT">
				<xs:sequence>
					<xs:element name="magnitude" type="xs:double"/>
					<xs:element name="units" type="NonEmptyString"/>
					<xs:element name="precision" type="xs:int" default="-1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_ORDINAL">
		<xs:complexContent>
			<xs:extension base="DV_ORDERED">
				<xs:sequence>
					<xs:element name="value" type="xs:int"/>
					<xs:element name="symbol" type="DV_CODED_TEXT"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PROPORTION_KIND">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0" id="pk_ratio"/>
			<xs:enumeration value="1" id="pk_unitary"/>
			<xs:enumeration value="2" id="pk_percent"/>
			<xs:enumeration value="3" id="pk_fraction"/>
			<xs:enumeration value="4" id="pk_integer_fraction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DV_PROPORTION">
		<xs:complexContent>
			<xs:extension base="DV_AMOUNT">
				<xs:sequence>
					<xs:element name="numerator" type="xs:float"/>
					<xs:element name="denominator" type="xs:float"/>
					<xs:element name="type" type="PROPORTION_KIND"/>
					<xs:element name="precision" type="xs:int" default="-1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_PARAGRAPH">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="items" type="DV_TEXT" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_TEXT">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="value" type="NonEmptyString"/>
					<xs:element name="hyperlink" type="DV_URI" minOccurs="0"/>
					<xs:element name="formatting" type="NonEmptyString" minOccurs="0"/>
					<xs:element name="mappings" type="TERM_MAPPING" minOccurs="0"
						maxOccurs="unbounded"/>
					<xs:element name="language" type="CODE_PHRASE" minOccurs="0"/>
					<xs:element name="encoding" type="CODE_PHRASE" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_CODED_TEXT">
		<xs:complexContent>
			<xs:extension base="DV_TEXT">
				<xs:sequence>
					<xs:element name="defining_code" type="CODE_PHRASE"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CODE_PHRASE">
		<xs:sequence>
			<xs:element name="terminology_id" type="TERMINOLOGY_ID"/>
			<xs:element name="code_string" type="NonEmptyString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TERM_MAPPING">
		<xs:sequence>
			<xs:element name="match" type="matchString" default="?"/>
			<xs:element name="purpose" type="DV_CODED_TEXT" minOccurs="0"/>
			<xs:element name="target" type="CODE_PHRASE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DV_DATE_TIME">
		<xs:complexContent>
			<xs:extension base="DV_TEMPORAL">
				<xs:sequence>
					<xs:element name="value" type="Iso8601DateTime"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_TIME">
		<xs:complexContent>
			<xs:extension base="DV_TEMPORAL">
				<xs:sequence>
					<xs:element name="value" type="Iso8601Time"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_DATE">
		<xs:complexContent>
			<xs:extension base="DV_TEMPORAL">
				<xs:sequence>
					<xs:element name="value" type="Iso8601Date"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_DURATION">
		<xs:complexContent>
			<xs:extension base="DV_AMOUNT">
				<xs:sequence>
					<xs:element name="value" type="Iso8601Duration"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_TIME_SPECIFICATION" abstract="true">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="value" type="DV_PARSABLE"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_PERIODIC_TIME_SPECIFICATION">
		<xs:complexContent>
			<xs:extension base="DV_TIME_SPECIFICATION">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_GENERAL_TIME_SPECIFICATION">
		<xs:complexContent>
			<xs:extension base="DV_TIME_SPECIFICATION">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_ENCAPSULATED" abstract="true">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="charset" type="CODE_PHRASE" minOccurs="0"/>
					<xs:element name="language" type="CODE_PHRASE" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_MULTIMEDIA">
		<xs:complexContent>
			<xs:extension base="DV_ENCAPSULATED">
				<xs:sequence>
					<xs:element name="alternate_text" type="xs:string" minOccurs="0"/>
					<xs:element name="uri" type="DV_URI" minOccurs="0"/>
					<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="media_type" type="CODE_PHRASE"/>
					<xs:element name="compression_algorithm" type="CODE_PHRASE" minOccurs="0"/>
					<xs:element name="integrity_check" type="xs:base64Binary" minOccurs="0"/>
					<xs:element name="integrity_check_algorithm" type="CODE_PHRASE" minOccurs="0"/>
					<xs:element name="size" type="xs:int"/>
					<xs:element name="thumbnail" type="DV_MULTIMEDIA" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_PARSABLE">
		<xs:complexContent>
			<xs:extension base="DV_ENCAPSULATED">
				<xs:sequence>
					<xs:element name="value" type="xs:string"/>
					<xs:element name="formalism" type="NonEmptyString"/>
					<!-- the following will support legacy data instances by allowing 'size' -->
					<xs:element name="size" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_URI">
		<xs:complexContent>
			<xs:extension base="DATA_VALUE">
				<xs:sequence>
					<xs:element name="value" type="NonEmptyUri" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DV_EHR_URI">
		<xs:complexContent>
			<xs:extension base="DV_URI">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
